<!DOCTYPE html>
<html>
  <head>
    <title>Dotinstall Pane</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='<%= "#{controller.controller_name}" %>'>
    <%= yield %>
  </body>
</html>
